// Importation des fichiers nécessaires pour compiler le fichier SCSS et CSS et avoir la possibilité de remplacer les variables de Bootstrap :
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Ajout des couleurs principales du site par rapport au logo Orinoco :
.bg-pinkORI {
    background-color: rgb(242, 234, 240);
}

.bg-purpleORI {
    background-color: #5100ff;
}

.pinkORI {
    background-color: rgb(242, 234, 240);
}

.purpleORI {
    color: #5100ff;
}

.orangeORI {
    color: #fd7e14;
}

.pinkORI {
    color: rgb(242, 234, 240);
}

// Animations en zoom :
body main section div.container button:hover {
    transition: 250ms ease-in;
    transform: scale(1.05);
}

body main.w-full.bg-oniPink a button:hover {
    transition: 250ms ease-in;
    transform: scale(1.05);
}

body main div.container-fluid div#camera.col-12 div.card.shadow-sm button:active {
    transition: 150ms ease-in;
    transform: scale(1.05);
}

// Alignement et taille du layout (header, footer) :
body header div.new-width navbar div#navbarHeader div.container div.row p.orangeORI em {
    font-size: 24px;
    width: 390px;
    display: inline-block;
}

.new-width {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.footerORI {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgb(242, 234, 240);
}

// Autres ajouts de propriétés variées :
header div.navbar.navbar-dark div.container button.navbar-toggler {
    background-color: #5100ff;
}

.disable-link {
    text-decoration: none;
}

.btn-outline-ORI:hover {
    background-color: rgb(242, 234, 240);
}