// Import - Pour remplacer les variables de Bootstrap, vous devez importer le ou les fichiers pertinents du répertoire :
@import "variable_overrides";   // fichier des variables
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bg-pinkORI {
    background-color: rgb(242, 234, 240);
}

.purpleORI {
    color: #5100ff;
}

.orangeORI {
    color: #fd7e14;
}

.disable-link {
    text-decoration: none;
}

header div.navbar.navbar-dark div.container button.navbar-toggler {
    background-color: #5100ff;
}

.footerORI {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: rgb(242, 234, 240);
}

.btn-outline-ORI:hover {
    background-color: rgb(242, 234, 240);
}